[submodule "jni/selinux"]
	path = core/jni/external/selinux
	url = https://github.com/topjohnwu/selinux.git
[submodule "jni/magiskpolicy"]
	path = core/jni/magiskpolicy
	url = https://github.com/topjohnwu/magiskpolicy.git
